<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Property Address</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Property Details
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary">EDIT</button>
        <button type="button" class="btn btn-danger">DELETE</button>
    </div>
</div>